<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base64 Image Example</title>
</head>
<body>
<h1>Base64 Image Example</h1>
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASgAAACACAYAAAC4P/QuAAAACXBIWXMAAAsTAAALEwEAmpwYAAA
JD0lEQVR4Xu3bZ4gUSxfGcXPCgFkRFUUxJxQURDGLYMKIiGLA/MGcRREDfjAhioigIgbMWTF/ESOiGDAHEHPGgLkup6GKmtntd3v2be8e9v5/ULh7unu6Z5x+uqq6N4cBAKVyJBcAQAsCCoBaBBQAtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0
CCoBaBBQAtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0CCoBaBBQAtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0CCoBaBBQAtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0CCoBaBBQAtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0CCoBaBBQ
AtQgoAGoRUADUIqAAqEVAAVCLgAKgFgEFQC0CCoBaBBQAtQgoAGoRUADUIqAAqBV7QH3+/Nns3bvXzJ8/30yaNMnMnTvX7Ny5M6j/TdeuXTN79uwJ2ocPH1z90qVLrv79+3dvi/j5x5BRO3XqVPLmWSrs8wOyUqwBtW/fPlOmTBmTI0eONK1YsWJ
my5YtyZvEZuzYsW5fV65ccfW+ffu6+uvXr70t4ucfQ0atQYMGyZtnqbDPD8hKsQXU1atXTb58+dyXvGjRoqZatWqmUKFCrpYrVy5z8uTJ5E1jEXaCEVDRhH1+QFaKLaCGDRvmvuCrVq0yv3//Dupfv341Q4YMccs6dOiQtGU8Hj9+bM6dOxe0L1+
+uPq/GVAyNHry5Ilra9ascfseOnRowrKXL18mb56lwj4/ICvFFlBt27Z1J+OzZ88Slr1588ZUqlTJ1KhRw7Rv3z5hmfj586fZvXu3mT17thk1apSZPHmyWbdunXn37l3CetL7Wr9+vdmxY4f59u2bWbx4cXDl37Vrl7lw4UKwTNrbt2/dNmEBJfN
idn3p/VlRjyUKOU67bznOMKns8/nz58EFQF5v5MiRZtasWebgwYPugmCdP38+eG8bN24Mfr9z546ZN2+eGT16tFm6dKl59epVwvphn9/hw4eDmvwrjh49aiZOnGgmTJiQ0Bu+ePGimTp1anBcW7duNb9+/XLLgMyKLaDkZLEnY61atczatWvNixc
vkldLQ0Kjbt26blu/lS5d2ly/ft2t261bt6BeuXJl0717d7devXr1Qoco6QXUwoULXa1x48bm48ePQT2VY4kiSkClsk8JicKFC6dZT1rr1q0TbkSMGTMmqOfPnz/oyeXNmzdh/VKlSpkHDx649cM+v+bNmwe1pk2bmn79+qXZr4TezJkzTc6cORP
qXbt2da8BZFZsAXXr1i1TsGDBNF/g2rVrm/HjxwdX2PQMHDjQrSthMm3atOBks7VevXq5dW1A2ZOhRIkSwRzXokWLQk+w5IDatGmT275mzZoJvapUjiWKKAEVdZ/SyypbtmxQk57osmXLgotAly5d3LrSm7JsQMl7ldauXTszZcoUU7VqVbf+8OH
D3fphn58NKGkyxzh48GAzaNCgNIHUsWNHM27cuOBmiK39rflG/HfEFlDi9OnTpmLFiglfXL/JVfX9+/cJ26xevTr40s+YMcPVZHggV3jZRnpHlg0oadKDkpNW5ktk7ifsBPMDatu2bW4iX3phMhfkS+VYoogSUFH3+fDhQ/daEizy3sWfP3/MnDl
zgiHhjRs33GvYgJImc4DWvXv3XLj47yfs8/MDSvZh9enTx9V79uzp6itXrnT15cuXuzqQGbEGlJBnjbZv32769+9vypcv776stnXu3Dl5E0eGhAcOHAjmOOzdv+rVq7vlfkAlX53DTjA/oAoUKOB+3r9/v7d1WhkdSxRRAsr3v/YpNxv84V3x4sV
Njx49zIoVK8zdu3eTXikxoOTC4bOPglSpUsXVwj4/P6D8i4sEqq1v3rzZ1WUYausLFixwdSAzYg+oZDdv3gyGFrlz53Zf3Nu3b7vlnz59CoYm8kiCXe43Gc5YfkA9evTI1UXYCeYHlN9kGJUslWOJIkpApbLPDRs2mDx58qRZR1qrVq2C3pHlB1T
y3JncsJC69CKtsM/PBpT8//mk12bXP3bsmKsfP37c1WV+Cvh/xBJQcodI5jhkvkmGK+mRuv3iyh0rq0WLFq4u8xgyt3L58uWg5yA1mXC3/IBKfmQg7ATzA0rmyDp16uR+l7t/vlSOJYooAZXqPmViWwKtYcOGaeaBZLLd8gNK5gd9EkxSTyWgZLL
d5weU30MjoBCnWAJK5oDsXSIZmvh3h6w2bdq4L64dnsntfVsbMWJEwvp2eFinTh1X8wMqeS4r7ATzA0pux8ute5lcl99liCOPK4hUjyWKjAIq1X3KnNmJEyfM06dPg9/lvUjY2x6RNPuIBwGF7CCWgBL+pKmc+HKH6ezZs+bQoUMJy0qWLOkeBJR
ndWxd1rFkTsPWw+agMhNQttclk7e2ZudJUj2WKDIKqFT2Kb09W+vdu7ebJJd/7V0/Gf7ZRyYIKGQHsQWUXN0rVKjgvpzpNRmSyG1+SyZ+/Yn0+vXrm0aNGgU/2zmrIkWKuIcQ4wqoHz9+uCGUTDxLjyTVY4kio4BKZZ9yZ69ly5Zu3XLlyplmzZq
5Rw+kSShZBBSyg9gCSsiJPmDAgIS7ZdIkmJo0aWKOHDmSvEnQy/IniGWIOH36dLNkyRJXs5OwcQWUkL/at3U5ZpHKsUSRUUCJVPYpD2LKs0YSWnaZNHn2SB6WtL0qQUAhO4g1oCx51EDuHJ05cyaYZ/H/dCI90kO4f/9+MDmc1X8HlhXHkuo+pQc
oz0XJEFHCxw8mIDv5KwEFAHEgoACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFo
EFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANQioACoRUABUIuAAqAWAQVALQIKgFoEFAC1CCgAahFQANT6BwxU536QYZNRAAAAAElFTkSuQmCC
">
</body>
</html>
